
<p-panel header="TBX summary" *ngIf="summary">

  <p-chart  type="doughnut" [data]="data" [options]="options"></p-chart>
  <div>
    <strong>File size:</strong> {{ summary.fileSize }} bytes
  </div>
  <div>
    <strong>TBX dialect:</strong> {{ summary.variant }}
  </div>
  <div>
    <strong>Number of concepts:</strong> {{ summary.numberOfConcepts }}
  </div>
  <div>
    <strong>Number of terms:</strong> {{ summary.numberOfTerms }}
  </div>
  <div *ngFor="let item of summary.languages | keyvalue">
    <strong>{{ item.key }}: </strong> {{ item.value }} terms
  </div>

</p-panel>
