.block-div {
  display: inline-flex;
}

.spacer {
  height: 24px;
}

.gap-3 {
  padding-bottom: 8px;
  padding-top: 8px;
}

.progressBar {
  position: fixed;
  bottom: 0;
  z-index: 100;
  width: 100%;
}
