<router-outlet></router-outlet>


<p-tabView>
  <p-tabPanel header="Data Ingestion">
    <p-fileUpload mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Import"></p-fileUpload>
    <p-panel header="TBX summary" *ngIf="sparql">
      <div>
        <span>File size:</span> {{ sparql.fileSize }}
      </div>
      <div>
        <span>TBX dialect:</span> {{ sparql.tbxType }}
      </div>
      <div>
        <span>Number of concepts:</span> {{ sparql.numberOfConcepts }}
      </div>
      <div>
        <span>Number of languages:</span> {{ sparql.numberOfLanguages }}
      </div>
      <div>
        <span>Number of terms:</span> {{ sparql.numberOfTerms }}
      </div>
    </p-panel>
  </p-tabPanel>

  <p-tabPanel header="Data Filtering" [disabled]="true"/>

  <p-tabPanel header="Concept Mapping" [disabled]="true"/>

  <p-tabPanel header="Term Mapping" [disabled]="true"/>

  <p-tabPanel header="Converted Data" [disabled]="sparql == null">
    <pre>{{ sparql?.content }}</pre>
  </p-tabPanel>
</p-tabView>
