<div class="layout-header">TBX to Lemon interactive tool</div>

<p-blockUI [blocked]="loading">
  <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="layout-body">
<p-tabView>
  <p-tabPanel header="Data Ingestion">

      <div class="flex flex-wrap gap-3">
        <div class="flex align-items-center">
          <strong>Conversion type:</strong>
          &nbsp;
          <p-radioButton [disabled]="true" name="conversionType" value="interactive" [(ngModel)]="conversionType" inputId="interactive"></p-radioButton>
          <label for="interactive" class="ml-2" (mouseenter)="interactiveTip.show($event)" (mouseout)="interactiveTip.hide()"> Interactive</label>
          &nbsp;
          <p-radioButton name="conversionType" value="automatic" [(ngModel)]="conversionType" inputId="automatic"></p-radioButton>
          <label for="conversionType" class="ml-2" (mouseenter)="automaticTip.show($event)" (mouseout)="automaticTip.hide()"> Automatic</label>
        </div>

      </div>

      <p-overlayPanel #interactiveTip>
        The conversion process is made of a series of steps, among which:
        <ul>
          <li>concept and language filtering</li>
          <li>mapping of TBX concepts to ontological ones</li>
          <li>term and relationship mapping to the lemon model</li>
        </ul>
      </p-overlayPanel>

      <p-overlayPanel #automaticTip>
        Each concept is mapped to a SKO concept, and each term is mapped to a lexical entry.
      </p-overlayPanel>

      <p-fileUpload align="right" mode="basic" name="demo[]" url="https://www.primefaces.org/cdn/api/upload.php" (onUpload)="onUpload($event)" [auto]="true" chooseLabel="Import"></p-fileUpload>

      <div class="spacer"></div>

      <p-panel header="TBX summary" *ngIf="resource">
        <div>
          <span>File size:</span> {{ resource.metadata.fileSize }}
        </div>
        <div>
          <span>TBX dialect:</span> {{ resource.metadata.tbxType }}
        </div>
        <div>
          <span>Number of concepts:</span> {{ resource.metadata.numberOfConcepts }}
        </div>
        <div>
          <span>Number of languages:</span> {{ resource.metadata.numberOfLanguages }}
        </div>
        <div>
          <span>Number of terms:</span> {{ resource.metadata.numberOfTerms }}
        </div>
      </p-panel>

  </p-tabPanel>

  <p-tabPanel header="Data Filtering" [disabled]="true" />

  <p-tabPanel header="Concept Mapping" [disabled]="true" />

  <p-tabPanel header="Term Mapping" [disabled]="true" />

  <p-tabPanel header="Converted Data" [disabled]="resource == null">

    <div class="flex flex-wrap gap-3" *ngIf="resource == null">
      <strong>Successfully submitted!</strong>
    </div>

    <div class="flex flex-wrap gap-3" *ngIf="resource != null">
      <strong>Target repository:</strong>
      &nbsp;
      <input type="text" pInputText [(ngModel)]="repository" />
      &nbsp;
      <p-button (click)="onSubmit()" styleClass="p-button-raised p-button-success">Submit</p-button>
    </div>

    <p-scrollPanel [style]="{width: '1000%', height: '100%'}" *ngIf="resource != null">
      <pre>{{ resource.sparql }}</pre>
    </p-scrollPanel>
  </p-tabPanel>

</p-tabView>
</div>

<div class="layout-footer">
  ILC-CNR &amp; University of Padua
</div>

