<p-treeTable
  id="filteredTableTree"
  selectionMode="checkbox"
  class="w-full md:w-30rem"
  [value]="treeNodes"
  filterMode="lenient"
  filterPlaceholder="Lenient Filter"
  [columns]="columns"
  [scrollable]="true"
>
  <ng-template pTemplate="caption">
    <div class="flex">
      <p-treeTableHeaderCheckbox></p-treeTableHeaderCheckbox>
      <span class="ml-2"> Select All</span>
    </div>
  </ng-template>
  <ng-template pTemplate="header" let-columns>
    <tr>
        <th>Concept</th>
        <th *ngFor="let col of columns">
            {{ col }}
        </th>
    </tr>
</ng-template>

  <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
    <tr [ttRow]="rowNode">
      <td>
        <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
        <p-treeTableCheckbox [value]="rowNode"></p-treeTableCheckbox>
        {{ rowData.id }}
      </td>
      <td *ngFor="let definition of rowData.definitions">
        {{ definition }}
      </td>
      <td *ngFor="let term of rowData.terms">
        <ul>
          <li *ngFor="let value of term">{{ value }}</li>
        </ul>
      </td>
    </tr>
  </ng-template>
</p-treeTable>
